
#loginAdmin {
  text-align: center;
  margin-top: 30px;
}

#loginAdmin input {
  padding: 10px;
  border: 1px solid #e6a4b4;
  border-radius: 8px;
  font-size: 1em;
  width: 250px;
  margin-top: 10px;
}

.btn.entrar {
  background-color: #D81B60;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 15px;
  width: 60%;
  max-width: 100px;
  transition: background-color 0.3s ease;
}

.btn.entrar:hover {
  background-color: #c2185b;
}
.opcion {
   background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 25px;
  width: 320px;
  text-align: center;
}
.panel-opciones {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 30px;
}


.opcion .btn {
  background-color: #D81B60;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  width: 90%; 
  margin: 10px auto 0;
}



.img-opcion {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.img-pedido {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 10px;
  vertical-align: middle;
}

.admin {
  text-align: center;
  padding: 60px 20px;
  background-color: #fcefee; 
}

.admin table {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
}

.admin th {
  background-color: #fcd4e0;
  padding: 15px;
  color: #5a3e36;
}


.nequi-logo {
  width: 100px;
  margin: 10px auto;
  display: block;
}
.card button {
  background-color: #D81B60;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #c2185b;
}


