.carrito h1 {
  color: #e47fa4;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.carrito {
  text-align: center;
  padding: 60px 20px;
  background-color: #fcefee;
  min-height: 70vh;
}


.lista-carrito {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px auto;
  max-width: 700px;
  width: 90%;
}

.item-carrito {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  border-radius: 12px;
  padding: 15px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-carrito:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.item-carrito img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 15px;
  border: 2px solid #fcd4e0;
}


.item-carrito .info {
  text-align: left;
}

.item-carrito .info p {
  margin: 4px 0;
  color: #5a3e36;
  font-size: 1em;
}

.carrito h3 {
  margin-top: 25px;
  color: #5a3e36;
  font-size: 1.5em;
  font-weight: bold;
}


.btn-vaciar,
.btn-volver {
  display: inline-block;
  margin: 25px 10px 0 10px;
  padding: 10px 25px;
  background-color: #df7098;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-vaciar:hover,
.btn-volver:hover {
  background-color: #fe68a4;
}

.carrito-vacio {
  text-align: center;
  font-size: 1.2em;
  color: #D81B60;
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
  margin: 20px auto;
  width: 20%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  animation: fadeIn 0.20s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-pagar {
  text-align: center;
  font-size: 1.2em;
  color: #D81B60;
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
  margin: 20px auto;
  width: 20%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  animation: fadeIn 0.20s ease-in-out;
  text-decoration: none;
}

.btn-pagar:hover {
  background-color: #e9b5ca;
}