/* RESET */
html {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fff4f7;
  color: #5a3e36;
}


.header {
  background: #ffffffbb;
  backdrop-filter: blur(4px);
  border-bottom: 1px solid #f1c7d8;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  max-width: 1300px;
  margin: auto;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.7em;
  font-weight: 900;
  color: #e75b8d;
}

nav .links a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: 600;
  color: #6d4b42;
  transition: 0.3s;
}

nav .links a,
nav a {
  display: inline-block;
}

nav .links a:hover {
  color: #e75b8d;
}

.links a:hover {
  transform: scale(1.1);
}

.btn-login {
  padding: 8px 15px;
  background: #e75b8d;
  color: white !important;
  border-radius: 10px;
}


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 15%;
  position: relative;
}

.hero-text {
  max-width: 550px;
}

.hero-text h1 {
  font-size: 3.2em;
  color: #5d4037;
  line-height: 1.2;
}

.hero-text h1 span {
  color: #e75b8d;
}

.hero-text p {
  margin-top: 15px;
  font-size: 1.2em;
}

.btn-primary {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 35px;
  background: #e75b8d;
  color: white;
  border-radius: 25px;
  font-size: 1.1em;
  text-decoration: none;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background: #c2185b;
}

.hero-img img {
  width: 340px;
  animation: float 3s ease-in-out infinite;
}

.hero-bg {
  position: absolute;
  width: 1900px;
  height: 600px;
  background: radial-gradient(circle, #ffd9e6 10%, transparent 70%);
  top: -150px;
  z-index: -1;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }
}


.destacados {
  text-align: center;
  padding: 70px 20px;
}

.destacados h2 {
  font-size: 2.4em;
  color: #e75b8d;
}

.sub {
  margin: 10px 0 40px;
  font-size: 1.1em;
  color: #6d4b42;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  width: 270px;
  padding: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  text-align: center;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  border-radius: 12px;
  height: 185px;
  object-fit: cover;
}

.card h3 {
  margin-top: 10px;
  color: #d81b60;
}

.btn-secondary {
  display: inline-block;
  margin-top: 12px;
  padding: 8px 20px;
  border: 2px solid #e75b8d;
  color: #e75b8d;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-secondary:hover {
  background: #e75b8d;
  color: white;
}


.why {
  background: #ffe6ef;
  padding: 70px 20px;
  text-align: center;
}

.why h2 {
  font-size: 2.3em;
  color: #d81b60;
}

.why-grid {
  margin-top: 50px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.why-item {
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.why-item h3 {
  color: #d81b60;
  margin-bottom: 10px;
}


.sobre {
  padding: 70px 20px;
}

.sobre-content {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.sobre-content h2 {
  font-size: 2.4em;
  color: #e75b8d;
  margin-bottom: 20px;
}


footer {
  background: #c28195;
  color: white;
  padding: 20px;
  text-align: center;
}